<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Gallery example</title>

  <link href="static/css/tailwind.min.css" rel="stylesheet">
  <link href="static/css/dropzone.min.css" rel="stylesheet">
  <link href="static/css/toastify.css" rel="stylesheet">

  <script src="static/js/jquery.min.js"></script>
  <script src="static/js/dropzone.min.js"></script>
  <script src="static/js/toastify.js"></script>

</head>

<body class="bg-indigo-400 flex h-screen justify-center">
  <div class="justify-items-center m-auto align-middle max-w-4xl">

    <div id="drpzn" class="rounded p-6 bg-indigo-100 shadow-xl mx-auto overflow-y-auto max-h-96
                                grid grid-flow-row lg:grid-cols-4 md:grid-cols-3 gap-4 justify-items-center">

      <!-- images are added via javascript. the template is below: template-gallery-image-->
    </div>

    <div id="upload-button" class="h-20 mt-8 px-8 bg-white hover:bg-indigo-100 cursor-pointer border-dashed border-2 border-indigo-400 flex justify-center">
      <img id="upload-button-img" src="static/img/upload-solid.svg" class="w-7 h-7 fill-current my-auto">
      <p id="upload-button-text" class="my-auto text-gray-400 ml-5 text-xl"> Drag image here or click to upload. </p>
    </div>
  </div>

  <!-- the div to display the colorization result (made visible when the user clicks on the colorize button) -->
  <div id="result-colorize" class="invisible absolute justify-center bg-gray-600 flex w-full h-full">

    <div class="absolute top-0 right-0 h-20 w-20 flex justify-center text-gray-100 cursor-pointer" onclick="document.querySelector('#result-colorize').classList.add('invisible')">

      <!-- svg taken from https://heroicons.com/ 'X' -->
      <svg class="my-auto w-10 h-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>

    </div>


    <div class="m-4 ml-8 text-center my-auto">
      <img id="result-image-original">
      <p class="uppercase bold tracking-widest text-gray-100 mt-4 text-xl"> original </p>
    </div>

    <div class="m-4 mr-8 text-center my-auto">
      <img id="result-image-colorized">
      <p class="uppercase bold tracking-widest text-gray-100 mt-4 text-xl"> colorized </p>
    </div>

  </div>

  <script src="static/js/main.js"></script>


  <!-- ================================================================================================================================= -->
  <!-- html components, that are not shown immediately, but are added with javascript -->


  <!-- This template is for a single image with buttons to colorize/delete it -->
  <template id="template-gallery-image">
    <div class="hover:shadow-xl relative select-none">
      <div class="absolute flex top-0 right-0">

        <button id="colorize-image-button" title="colorize" class="w-9 h-9 bg-gray-500 hover:bg-gray-600 text-gray-100 cursor-pointer flex justify-center items-center">

          <!-- svg taken from https://github.com/FortAwesome/Font-Awesome/blob/master/svgs/solid/palette.svg -->
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="palette" class="h5 w-5 svg-inline--fa fa-palette fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="currentColor" d="M204.3 5C104.9 24.4 24.8 104.3 5.2 203.4c-37 187 131.7 326.4 258.8 306.7 41.2-6.4 61.4-54.6 42.5-91.7-23.1-45.4 9.9-98.4 60.9-98.4h79.7c35.8 0 64.8-29.6 64.9-65.3C511.5 97.1 368.1-26.9 204.3 5zM96 320c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm32-128c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm128-64c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm128 64c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32z"></path>
          </svg>

        </button>

        <button id="delete-image-button" title="delete" class="w-9 h-9 bg-red-500 hover:bg-red-600 text-red-100 cursor-pointer flex justify-center items-center">

          <!-- svg taken from https://heroicons.com/ 'trash'-->
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
          </svg>

        </button>
      </div>
      <img id="gallery-image" class="w-40 h-40 object-cover">
    </div>
  </template>

  <!-- This template is shown as a toast, when an error occurs. -->
  <template id="template-toast-warn">
    <div class="bg-yellow-200 border-l-4 border-yellow-600 text-yellow-700 p-4" role="alert">
      <p id="toast-headline" class="font-bold"></p>
      <p id="toast-message"></p>
    </div>
  </template>

</body>

</html>
