<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Gallery example</title>

    <link href="static/css/tailwind.min.css" rel="stylesheet">
    <link href="static/css/dropzone.min.css" rel="stylesheet">

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/dropzone.min.js"></script>

  </head>

  <body class="bg-indigo-400 flex h-screen">
    <div class="justify-items-center m-auto align-middle max-w-4xl">

      <div id="drpzn" class="rounded p-6 bg-indigo-100 shadow-xl mx-auto overflow-y-auto max-h-96
                             grid grid-flow-row lg:grid-cols-4 md:grid-cols-3 gap-4 justify-items-center">
        <!-- add images via js -->
      </div>

      <div id="upload-button" class="h-20 mt-8 bg-white hover:bg-indigo-100 cursor-pointer border-dashed border-2 border-indigo-400 flex justify-center">
        <img id="upload-button-img" src="static/img/upload-solid.svg" class="w-7 h-7 fill-current my-auto">
        <p id="upload-button-text" class="my-auto text-gray-400 ml-5 text-xl"> Drag image here or click to upload. </p>
      </div>
    </div>

    <script src="static/js/main.js"></script>


  </body>
</html>
