<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Gallery example</title>

    <link href="static/css/tailwind.min.css" rel="stylesheet">
    <link href="static/css/dropzone.min.css" rel="stylesheet">

    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/dropzone.min.js"></script>

  </head>

  <body class="bg-indigo-400 flex">

    <div id="drpzn" class="rounded p-6 bg-indigo-100 shadow-xl max-w-4xl mt-16 mx-auto
             grid grid-flow-row lg:grid-cols-4 md:grid-cols-3 gap-4 justify-items-center">

<!--      <img class="w-40 h-40 object-cover" src="static/img/fox-bw.png" alt="A photo of a fox">
      <img class="w-40 h-40 object-cover" src="static/img/man-bw.png" alt="A photo of a man">
      <img class="w-40 h-40 object-cover" src="static/img/fox-bw.png" alt="A photo of a fox">
      <img class="w-40 h-40 object-cover" src="static/img/fox-bw.png" alt="A photo of a fox">
      <img class="w-40 h-40 object-cover" src="static/img/fox-bw.png" alt="A photo of a fox">
      <img class="w-40 h-40 object-cover" src="static/img/man-bw.png" alt="A photo of a man">
      <img class="w-40 h-40 object-cover" src="static/img/man-bw.png" alt="A photo of a man">
      <img class="w-40 h-40 object-cover" src="static/img/man-bw.png" alt="A photo of a man">
      <img class="w-40 h-40 object-cover" src="static/img/man-bw.png" alt="A photo of a man"> -->

      <div id="upload-button" class="w-40 h-40 bg-white hover:bg-indigo-100 cursor-pointer border-dashed border-2 border-indigo-400 flex">
        <img id="upload-button-img" src="static/img/upload-solid.svg" class="w-8 h-8 fill-current m-auto">
      </div>

    </div>

    <script src="static/js/main.js"></script>


  </body>
</html>
